<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <title>Dashboard - todoKeeper</title>
  </head>
  <body class="bg-[#0b090a] h-[100vh]">
    <div class="dashboard-container grid grid-cols-12 gap-x-2 h-full">
      <div
        class="left-container relative grid-rows-2 col-span-2 bg-[#161a1d] text-white"
      >
        <div
          class="user-profile-container flex flex-col items-center mt-8 mb-5"
        >
          <img
            src="<%= user.picture %>"
            alt="<%= user.name %>"
            class="rounded-md max-w-[96px]"
          />

          <a
            href="/user/account/<%= user.email %>"
            class="user-displayname my-2 font-semibold text-xl"
          >
            <%= user.name %>
          </a>
          <div class="joining-date flex items-center text-gray-500">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-calendar-days"
            >
              <path d="M8 2v4" />
              <path d="M16 2v4" />
              <rect width="18" height="18" x="3" y="4" rx="2" />
              <path d="M3 10h18" />
              <path d="M8 14h.01" />
              <path d="M12 14h.01" />
              <path d="M16 14h.01" />
              <path d="M8 18h.01" />
              <path d="M12 18h.01" />
              <path d="M16 18h.01" />
            </svg>
            <p class="ml-2">
              Joined <%= new Date(user.date).toLocaleDateString('en-US', {year:
              'numeric', month: 'short'}) %>
            </p>
          </div>
          <div
            class="btn-logout mt-4 py-0.5 px-3 rounded bg-[#e63946] border border-[#e63946] hover:bg-transparent hover:text-[#e63946]"
          >
            <a href="/logout" class="font-medium">Log out</a>
          </div>
        </div>
        <hr class="w-[80%] mx-auto border-gray-500" />
        <div class="categories-container">
          <h2 class="text-xl font-bold text-center mt-5 mb-3">Categories</h2>
          <ul class="category-list">
            <li class="py-3 hover:bg-[#e63946]">
              <a href="#" class="relative flex justify-center items-center"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-sun mr-2"
                >
                  <circle cx="12" cy="12" r="4" />
                  <path d="M12 2v2" />
                  <path d="M12 20v2" />
                  <path d="m4.93 4.93 1.41 1.41" />
                  <path d="m17.66 17.66 1.41 1.41" />
                  <path d="M2 12h2" />
                  <path d="M20 12h2" />
                  <path d="m6.34 17.66-1.41 1.41" />
                  <path d="m19.07 4.93-1.41 1.41" /></svg
                >My Day
                <span
                  class="absolute right-5 flex justify-center items-center w-5 h-5 text-sm rounded-full circle bg-gray-500"
                  >0</span
                ></a
              >
            </li>
            <li class="py-3 hover:bg-[#e63946]">
              <a href="#" class="relative flex justify-center items-center"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-binoculars mr-2"
                >
                  <path d="M10 10h4" />
                  <path d="M19 7V4a1 1 0 0 0-1-1h-2a1 1 0 0 0-1 1v3" />
                  <path
                    d="M20 21a2 2 0 0 0 2-2v-3.851c0-1.39-2-2.962-2-4.829V8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v11a2 2 0 0 0 2 2z"
                  />
                  <path d="M 22 16 L 2 16" />
                  <path
                    d="M4 21a2 2 0 0 1-2-2v-3.851c0-1.39 2-2.962 2-4.829V8a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v11a2 2 0 0 1-2 2z"
                  />
                  <path d="M9 7V4a1 1 0 0 0-1-1H6a1 1 0 0 0-1 1v3" /></svg
                >Planned
              </a>
            </li>
            <li class="py-3 hover:bg-[#e63946]">
              <a href="#" class="flex justify-center items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-briefcase-business mr-2"
                >
                  <path d="M12 12h.01" />
                  <path d="M16 6V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v2" />
                  <path d="M22 13a18.15 18.15 0 0 1-20 0" />
                  <rect width="20" height="14" x="2" y="6" rx="2" /></svg
                >Work</a
              >
            </li>
            <li class="py-3 hover:bg-[#e63946]">
              <a href="#" class="flex justify-center items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-library-big mr-2"
                >
                  <rect width="8" height="18" x="3" y="3" rx="1" />
                  <path d="M7 3v18" />
                  <path
                    d="M20.4 18.9c.2.5-.1 1.1-.6 1.3l-1.9.7c-.5.2-1.1-.1-1.3-.6L11.1 5.1c-.2-.5.1-1.1.6-1.3l1.9-.7c.5-.2 1.1.1 1.3.6Z"
                  /></svg
                >Study</a
              >
            </li>
          </ul>
        </div>
        <div
          class="btn-add-category absolute bottom-0 left-0 right-0 py-3 bg-[#e63946] hover:bg-red-600"
        >
          <a href="#" class="btn-add flex justify-center"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-circle-plus mr-2"
            >
              <circle cx="12" cy="12" r="10" />
              <path d="M8 12h8" />
              <path d="M12 8v8" /></svg
            >New category</a
          >
        </div>
      </div>
      <div class="middle-container grid grid-rows-12 gap-y-2 col-span-7">
        <div class="middle-top-container row-span-1 bg-[#161a1d] rounded-b">
          <form
            action="/search"
            class="flex justify-evenly h-full items-center"
            method="post"
          >
            <input
              type="text"
              name="search"
              class="search-bar px-4 bg-inherit w-[80%] h-[90%] outline-none text-gray-400 text-lg font-medium"
              placeholder="Search..."
              autocomplete="off"
            />
            <button type="submit" class="text-white hover:text-[#e63946]">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-search"
              >
                <circle cx="11" cy="11" r="8" />
                <path d="m21 21-4.3-4.3" />
              </svg>
            </button>
            <a href="#" class="text-white hover:text-[#e63946]"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-bell"
              >
                <path d="M6 8a6 6 0 0 1 12 0c0 7 3 9 3 9H3s3-2 3-9" />
                <path d="M10.3 21a1.94 1.94 0 0 0 3.4 0" /></svg
            ></a>
          </form>
        </div>
        <div class="middle-header-container flex justify-between row-span-2">
          <div class="cate-date">
            <h2 class="text-white text-3xl font-bold">My Day</h2>
            <p class="text-sm mt-3 text-gray-500">
              Created at <%= new Date(user.date).toLocaleDateString('en-US',
              {year: 'numeric', month: 'short', hour: 'numeric'}) %>
            </p>
          </div>
          <div class="btn-add-task items-center">
            <a
              href="/new"
              class="btn-add flex items-center text-lg text-white p-2 rounded font-bold bg-[#e63946] hover:bg-red-600"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-plus"
              >
                <path d="M5 12h14" />
                <path d="M12 5v14" /></svg
            ></a>
          </div>
        </div>
        <div
          class="middle-statistics-panel row-span-2 grid grid-cols-4 gap-x-3"
        >
          <div
            class="panel flex flex-col justify-center items-center text-gray-400 bg-[#161a1d]"
          >
            <h3 class="font-medium">Pending Tasks</h3>
            <p class="text-4xl">150</p>
          </div>
          <div
            class="panel flex flex-col justify-center items-center text-red-400 bg-[#161a1d]"
          >
            <h3 class="font-medium">Impotent Tasks</h3>
            <p class="text-4xl">50</p>
          </div>
          <div
            class="panel flex flex-col justify-center items-center text-green-400 bg-[#161a1d]"
          >
            <h3 class="font-medium">Completed Tasks</h3>
            <p class="text-4xl">15</p>
          </div>
          <div
            class="panel flex flex-col justify-center items-center text-white bg-[#161a1d]"
          >
            <h3 class="font-medium">Completion Rate</h3>
            <p class="text-4xl">10</p>
          </div>
        </div>
      </div>
      <div class="right-container col-span-3 bg-[#161a1d]">
        <div class="motivation-container"></div>
      </div>
    </div>
  </body>
</html>
